.btn {
    @include bold();
    color: #fff;
    padding: 10px 30px;
    letter-spacing: 2px;
    &.btn-default {
        background: $grey;
        &:hover, &:focus {
            background: $blue;
            color: #fff;
        }
    }
    &.btn-green {
        background: $green;
        border-color: $green;
        &:hover, &:focus {
            background: #fff;
            color: $green;
        }
    }
    &.green-outline {
        background: none;
        border-color: $green;
        color: #fff;
        &:hover, &:focus {
            background: #fff;
            color: $green;
        }
    }
    &.btn-round {
        // border-radius: 20px;
        // padding: 10px 60px;
    }
} 